
.header__container,
.header__wrapper,
.header__logo,
.header__burger,
.header__container *,
.header__container *::before,
.header__container *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header__socials,
.header__menu {
    list-style: none;
}

.header__link,
.header__logo a,
.header__social-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.header__burger,
.header__button { 
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
}

.header__logo img {
    display: block;
    max-width: 100%;
    height: auto;
}


.header__container {
    width: 100%;           
   margin: 0 auto;
   padding: 30px 15px; ;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.header__nav {
    display: none;
}

.header__extra {
    display: none;
}


.header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 24px;
    height: 16px;
    position: relative;
}

.header__burger span {
    display: block;
    width: 100%;
    height: 2px; 
    background-color: var(--secondary-font-color, #000); 
    border-radius: 2px;
}