/* Reset default browser settings */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  background-color: var(--body-bg-color);
}
body.no-scroll {
    overflow: hidden ; 
  height: 100vh;              
  position: fixed;             
  width: 100%;
}

/* Global content configuration
   p.s.: Do not wrap backgrounds in it, content only.
*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
}

img {
  display: block;
  max-width: 100%;
}
