<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us | Hidden Heaven</title>

    <link rel="stylesheet" href="css/about-us.css" />

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>

  <body>
    <header data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header.partial.html"></header>

    <main class="main">
      <!-- Oleksandr Sydorskyi -->
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-us.hero.partial.html"></section>

      <!-- Oleksandr Sydorskyi -->
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-us.partial.html"></section>

      <!--Khrystyna Chukur-->
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-us.experience.partial.html"></section>
    </main>

    <footer data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></footer>
  </body>
</html>
