<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us | Hidden Heaven</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="css/about-us.css" />
    <link rel="stylesheet" href="css/about-us/about-us-activity-carousel.css" />

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>

  <body>
    <header class="header">
      <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header.partial.html"></nav>
    </header>

    <main class="main">
      <!-- Oleksandr Sydorskyi -->
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-us.hero.partial.html"></section>

      <!-- Oleksandr Sydorskyi -->
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-us.partial.html"></section>

      <!--Khrystyna Chukur-->
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-us.experience.partial.html"></section>

      <!-- Oleksandr Sydorskyi -->
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-us-activity-carousel.html"></section>

      <!-- Oleksandr Sydorskyi -->
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-us-events.partial.html"></section>
    </main>

    <footer data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/about-us/about-us.js" defer></script>
  </body>
</html>
