<!doctype html>
<!-- Vladyslav Tupikin -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacts | Hidden Heaven</title>

    <link rel="stylesheet" href="css/contacts.css" />

    <script src="./js/htmx.min.js"></script>
  </head>
  <body>
    <header class="header">
      <!-- Vladyslav Tupikin -->
      <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header.partial.html"></nav>
    </header>

    <main class="contacts">
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="contacts.hero.partial.html"></section>

      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="contacts.form.partial.html"></section>

      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="contacts.qa.partial.html"></section>

      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="contacts.map.partial.html"></section>
    </main>

    <footer data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></footer>
  </body>
</html>
