<!doctype html>
<!-- Vladyslav Tupikin -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacts | Hidden Heaven</title>

    <link rel="stylesheet" href="css/contacts.css" />

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body>
    <header>
      <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="contacts.hero.partial.html"></div>
    </header>

    <main>
      <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="contacts.form.partial.html"></div>
      <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="contacts.qa.partial.html"></div>
      <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="contacts.map.partial.html"></div>
    </main>

    <footer data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></footer>
  </body>
</html>
