<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hidden Heaven</title>

  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- Header + Hero section / Sofia Hrebeniuk -->
  <header class="header">
    <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="header.partial.html"></nav>
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="hero.partial.html"></section>
  </header>


  <main class="main">
    <!-- Welcome / Mariia Belyn -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.welcome.partial.html"></section>

    <!-- Anastasiia Boiko -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.explore-canvas.partial.html"></section>

    <!-- Andrii Prymak -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.services.partial.html"></section>
  </main>
  <footer data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></footer>

  <div class="alert-container container"></div>
  <script src="js/index.js"></script>
</body>

</html>