.explore-canvas * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}
.explore-canvas {
  --back-color: #ffffff;
  --accent-color: #ea9449;
  --text-color: #2d2d2d;
  --color-secondary: #686868;
  --color-accent: #808080;
  --text-line-clamp-desktop: 2;
}
.explore-canvas {
  background-color: var(--back-color);
  padding: 120px 0;

  @media (max-width: 1200px) {
    padding: 90px 0;
  }

  .explore-canvas--div {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    .explore-canvas__info {
      display: flex;

      align-items: flex-end;
      padding: 0 30px;

      @media (max-width: 1200px) {
        flex-direction: column;
      }

      .explore-canvas__info--title {
        

        @media (min-width: 1200px) {
          width: 50%;
        }

        .explore-canvas__info--tree {
          width: 50px;
          height: 50px;
          color: var(--accent-color);
        }

        .explore-canvas__info--explore-canvas {
          
          text-overflow: ellipsis;
          font-size: 46px;
          font-family: Work Sans;
          color: var(--text-color);
        }
      }

      .explore-canvas__info--description {
        @media (min-width: 1200px) {
          width: 50%;
        }

        @media (max-width: 1200px) {
          margin-top: 25px;
        }

        .explore-canvas__info--we-offer {
          font-size: 19px;
          font-family: Inter;
          color: var(--color-secondary);
        }

        .explore-canvas__info--lodging {
          font-size: 17px;
          font-family: Inter;
          color: var(--color-accent);
          margin-top: 25px;
          margin-bottom: 25px;
        }
      }
    }
  }
}
