.welcome-about-partial {
     margin: 0, 15;
     padding: 0 ;
     box-sizing: border-box;
     background: url(https://res2.weblium.site/res/65a4dd651ae638000e4a167b/65a517485de065000f0ea91b_optimized?nowebp) ;
     background-repeat: no-repeat;
     background-position:top;
     background-size:contain;
    
    

    
}
         .welcome-about__title {

    font-family: var(--secondary-font);
    font-size: 34px;
    color: #2D2D2D;
    text-align: center;
}
          .welcome-about__description {
    font-family: var(--font-main);
    font-size: 17px;
    color: #808080; 
    text-align: center;
}
         .welcome-about__logo {
    width:50px;
    height: 50px;
    margin: auto;
    color: var(--accent-color);
    display: flex;
    filter: brightness(0) saturate(100%) invert(81%) sepia(11%) saturate(3954%) hue-rotate(322deg) brightness(93%) contrast(98%);
}

         .welcome-about__stats {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--font-main) ;
    color: #808080;
}
         .welcome-about__benefits {
    display: flex;
    flex-direction: column;
    text-align: center;
}
          .welcome-about__benefits-h3 {
    font-family: var(--secondary-font);
    color: #2D2D2D;
}
         .welcome-about__benefits-p {
    font-family: var(--font-main);
    color: #808080
}
