.video-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  aspect-ratio: 16 / 9;
}

.video-section__inner {
  position: absolute;
  inset: 0;
}

.video-section__iframe {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 177.78%;
  height: 100%;

  transform: translate(-50%, -50%);
  border: none;
}
