.experience__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.experience__title {
  font-size: 2rem;
  padding-bottom: 2rem;
  font-family: var(--about-font-body);
  font-weight: 700;
}
.experience__subtitle {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  font-family: var(--about-font-body);
  font-weight: 600;
}
